@page "/"

<VidazorVideo @ref="video" src="/sample.mp4" class="video" controls />

<h1 class="heading">Methods:</h1>
<div class="row">
    <button type="button" class="button" @onclick="() => video.Play()">Play()</button>
    <button type="button" class="button" @onclick="() => video.Pause()">Pause()</button>
    <button type="button" class="button" @onclick="() => video.Load()">Load()</button>
    <button type="button" class="button" @onclick="@(() => canPlayType = video.CanPlayType("video/mp4"))">CanPlayType("video/mp4") @canPlayType</button>
</div>

@code {
    VidazorVideo video;

    MediaPlayableStatus? canPlayType;
}
